mixin dropdown(options)
  if !options
    - var options = {}

  -
    const {
      label,
      size,
      type
    } = options

  -
    const guestsOptions = [
      'взрослые',
      'дети',
      'младенцы'
    ]
    const roomsOptions = [
      'спальни',
      'кровати',
      'ванные комнаты'
    ]
    const dropdownOptions = (type === 'guests') ? guestsOptions : roomsOptions

  .dropdown__wrapper
    h3.dropdown__label=label
    .dropdown.js-dropdown(
      class = size ? `dropdown_size_${size}` : ''
      id = `dropdown-${type}`)
      .dropdown__placeholder.js-dropdown__placeholder=(type === 'guests') ? "Сколько гостей" : "2 спальни, 2 кровати..."
      input.dropdown__arrow.js-dropdown__arrow(type = "checkbox")
      .dropdown__content-wrapper
        .dropdown__content
          each text in dropdownOptions
            .dropdown__item
              h3.dropdown__item-text=text
              .dropdown__calc
                .dropdown__operation.dropdown__operation_minus.js-dropdown__operation_minus
                .dropdown__operation-counter 0
                .dropdown__operation.dropdown__operation_plus.js-dropdown__operation_plus
          if (size === 'l')
            .dropdown__button-wrapper
              .dropdown__button.dropdown__button_clear.js-dropdown__button_clear очистить
              .dropdown__button.dropdown__button_accept.js-dropdown__button_accept применить
