mixin input(options) 
  if !options
    - var options = {}

  -
    var classes = ''
    classes += options.size ? `input_size_${options.size} ` : 'input_size_l'
    classes += options.masked ? 'js-input_masked ' : ''
    classes += options.blockName 
      ? options.valueType 
        ? `${options.blockName}__input-${options.valueType} ` 
        : `${options.blockName}__input ` 
      : ''

  .input__container
    if (options.label)
      h3.input__label=options.label
    .input__wrapper
      input.input(
        class = classes
        type = options.type
        placeholder = options.placeholder
        required = true
        id = options.id)
      if (options.type === 'email' && options.sub)
        .input__arrow-main
        