mixin input(options) 
  if !options
    - const options = {}

  -
    const {
      size,
      masked,
      blockName,
      valueType,
      placeholder,
      type,
      label,
      sub,
      id
    } = options;

  -
    const classes = ''
    classes += size ? `input_size_${size} ` : 'input_size_l'
    classes += masked ? 'js-input_masked ' : ''
    classes += blockName 
      ? valueType 
        ? `${blockName}__input-${valueType} ` 
        : `${blockName}__input ` 
      : ''

  .input__container
    if (label)
      h3.input__label=label
    .input__wrapper
      input.input(
        class = classes
        type = type
        placeholder = placeholder
        required = true
        id = id)
      if (type === 'email' && sub)
        .input__arrow-main
        