include ./list-checkbox/list-checkbox

mixin list-item(options)
  if !options 
    - var options = {}

  case (options.type)
    when 'advantage'
      .advantage 
        .advantage__img
          img(src=require(`../../components/list-item/img/${options.imgName}.svg`), alt=options.imgName)
        .advantage__text_wrapper
          .advantage__text_header=options.header
          .advantage__text_descr=options.descr
    when 'bullet'
      .bullet
        .bullet__mark 
        .bullet__text=options.text
    when 'checkbox'
      +list-checkbox(options)