mixin color(options)
  if (!options)
    - const options = {}

  -
    const {
      color,
      opacity
    } = options

  .color
    .color__box(
      class=(color === 'dark-shade') ? `color_${color}_opacity_${opacity}` : `color_${color}`
    )
    .color__text 
      .color__name=(color === 'dark-shade') ? `Dark Shade ${opacity}%` : (color === 'primary') ? 'Purple' : 'Green'
      .color__code=(color === 'dark-shade') ? '#1F2041' : (color === 'primary') ? '#BC9CFF' : '#6FCF97'