mixin list-advantage(options)
  if !options
    - var options = {}
  
  -
    const {
      header,
      descr,
      imgName
    } = options

  li.list-advantage
    .list-advantage__img
      img(src=require(`../../components/list-advantage/img/${imgName}.svg`), alt=imgName)
    .list-advantage__text_wrapper
      .list-advantage__text_header=header
      .list-advantage__text_descr=descr