mixin list-advantage({ header, description, imgName } = {})
  li.list-advantage
    .list-advantage__img
      img(src=require(`../../components/list-advantage/img/${imgName}.svg`) alt=imgName)
    .list-advantage__text-wrapper
      .list-advantage__text-header= header
      .list-advantage__text-description= description
