mixin list-checkbox(options)
  if !options
    - const options = {}

  -
    const {
      id,
      isRich,
      label,
      description
    } = options

  li.list-checkbox
    input.list-checkbox__button(
      type="checkbox"
      id=id)
    if (isRich)
      .list-checkbox-rich__wrapper
        label.list-checkbox-rich__label(for=id)= label
        label.list-checkbox-rich__description(for=id)= description
    else
      label.list-checkbox__label(for=id)= label
