mixin card(options)
  if !options
    -  const options = {}

  -
    const {
      type,
      roomNumber,
      roomStatus,
      roomPrice,
      header
    } = options

  div(class= `card-${type}`)
    if (type === 'book')
      .card-book__header
        .card-book__header-number <span>№ </span> #{roomNumber}
        .card-book__header-wrapper
          h3.card-book__header-status=roomStatus
          .card-book__header-price #{roomPrice} <span>в сутки</span> 
    else 
      h1(class = `card-${type}__header`)=header 
    form(
      action = (type === 'search') ? "./room-search.html" : "#"
      class =  `card-${type}__content`
    )
      if (type === 'book' || type === 'search')
        div(class =  `card-${type}__input-wrapper`)
          +dropdown-date({size: 's', label: 'прибытие', masked: true})
          +dropdown-date({size: 's', label: 'выезд', masked: true})
        +dropdown({type: 'guests', size: 'l', label: 'гости'})
        if (type === 'book')
          .card-book__calc
            .card-book__calc-wrapper
              .card-book__calc-name 9 990₽ х 4 суток
              .card-book__calc-price 39 960₽
            .card-book__calc-wrapper
              .card-book__calc-name.card-book__info-mark Сбор за услуги: скидка 2 179₽
              .card-book__calc-price 0₽
            .card-book__calc-wrapper
              .card-book__calc-name.card-book__info-mark Сбор за дополнительные услуги
              .card-book__calc-price 300₽
            .card-book__calc-wrapper
              h2.card-book__calc-name_bold Итого
              .card-book__calc-dots
              h2.card-book__calc-price_bold 38 081₽
      if (type === 'login' || type === 'registration')

        if (type === 'registration')
          +input({type: 'text', size: 'l', placeholder: 'Имя', blockName: `card-${type}`, valueType: 'name'})
          +input({type: 'text', size: 'l', placeholder: 'Фамилия', blockName: `card-${type}`, valueType: 'surname'})
          .card-registration__gender-wrapper.button-radio__container
            +button-radio({id: 'man', label: 'Мужчина'})
            +button-radio({id: 'woman', label: 'Женщина'})
          +input({type: 'text', size: 'l', placeholder: 'ДД.ММ.ГГГГ', label: 'дата рождения', blockName: `card-${type}`, valueType: 'date', masked: true})
          h3.card-registration__data-header данные для входа в сервис

        +input({type: 'email', size: 'l', placeholder: 'Email', blockName: `card-${type}`, valueType: 'email'})
        +input({type: 'text', size: 'l', placeholder: 'Пароль', blockName: `card-${type}`, valueType: 'password'})
        if (type === 'registration')
          .card-registration__offers
            +button-toggle({label: 'Получать спецпредложения', id: 'special'})

      +button-default({buttonType: 'submit', id: 'click7', size: 'l', blockName: `card-${type}`, text: buttonText})

      if (type === 'registration' || type === 'login')
        div(class = `card-${type}__footer-container`)
          div(class = `card-${type}__footer-text`)= (type === 'registration') ? 'Уже есть аккаунт на Toxin' : 'Нет аккаунта на Toxin?' 
          +button-default({text: (type === 'registration') ? 'войти' : 'создать', hasBorder: true, size: 's'})