include ../input/input
include ../dropdown/dropdown
include ../button-radio/button-radio
include ../button-toggle/button-toggle
include ../button-default/button-default

mixin card(options)
  if !options
    -  var options = {}

  div(class= `card-${options.type}`)
    if (options.type === 'book')
      .card-book__header
        .card-book__header-number <span>№ </span> #{options.roomNumber}
        .card-book__header-wrapper
          h3.card-book__header-status=options.roomStatus
          .card-book__header-price #{options.roomPrice} <span>в сутки</span> 
    else 
      h1(class = `card-${options.type}__header`)=options.header 
    form(
      action = (options.type === 'search') ? "./room-search.html" : "#"
      class =  `card-${options.type}__content`
    )
      if (options.type === 'book' || options.type === 'search')
        div(class =  `card-${options.type}__input-wrapper`)
          +dropdown-date({size: 's', label: 'прибытие', masked: true})
          +dropdown-date({size: 's', label: 'выезд', masked: true})
        +dropdown({type: 'guests', id: 'guests', label: 'гости'})
        if (options.type === 'book')
          .card-book__calc
            .card-book__calc-wrapper
              .card-book__calc-name 9 990₽ х 4 суток
              .card-book__calc-price 39 960₽
            .card-book__calc-wrapper
              .card-book__calc-name.card-book__info-mark Сбор за услуги: скидка 2 179₽
              .card-book__calc-price 0₽
            .card-book__calc-wrapper
              .card-book__calc-name.card-book__info-mark Сбор за дополнительные услуги
              .card-book__calc-price 300₽
            .card-book__calc-wrapper
              h2.card-book__calc-name_bold Итого
              .card-book__calc-dots
              h2.card-book__calc-price_bold 38 081₽
      if (options.type === 'login' || options.type === 'registration')

        if (options.type === 'registration')
          +input({type: 'text', size: 'l', placeholder: 'Имя', page: `card-${options.type}`, valueType: 'name'})
          +input({type: 'text', size: 'l', placeholder: 'Фамилия', page: `card-${options.type}`, valueType: 'surname'})
          .card-registration__gender-wrapper.button-radio__container
            +button-radio({id: 'man', label: 'Мужчина'})
            +button-radio({id: 'woman', label: 'Женщина'})
          +input({type: 'text', size: 'l', placeholder: 'ДД.ММ.ГГГГ', label: 'дата рождения', page: `card-${options.type}`, valueType: 'date', masked: true})
          h3.card-registration__data-header данные для входа в сервис

        +input({type: 'email', size: 'l', placeholder: 'Email', page: `card-${options.type}`, valueType: 'email'})
        +input({type: 'text', size: 'l', placeholder: 'Пароль', page: `card-${options.type}`, valueType: 'password'})
        if (options.type === 'registration')
          .card-registration__offers
            +button-toggle({label: 'Получать спецпредложения', id: 'special'})

      +button-default({buttonType: 'submit', id: 'click7', size: 'l', additClass: `card-${options.type}__button`, text: options.buttonText})

      if (options.type === 'registration' || options.type === 'login')
        div(class = `card-${options.type}__footer-container`)
          div(class = `card-${options.type}__footer-text`)= (options.type === 'registration') ? 'Уже есть аккаунт на Toxin' : 'Нет аккаунта на Toxin?' 
          +button-default({text: (options.type === 'registration') ? 'войти' : 'создать', hasBorder: true, size: 's'})