mixin button-default({size, hasBorder, isDisabled, blockName, buttonType, href, text, isHeader, isLogin } = {})
  -
    const classes =
      [size && `button_size_${size} `]
      + [hasBorder && 'button_theme_outlined ' || 'button_theme_filled ']
      + [isDisabled && 'button_disabled ']
      + [href && 'button_type_link ']
      + [isHeader && (isLogin && 'header__login-button ' || 'header__register-button ')]

  if (href)
    a.button(
      class=classes
      href=href)= text
  else
    button.button(
      class=classes
      type=buttonType)= text
