mixin card-preview(options)
  if !options
    - const options = {}

  -
    const {
      roomNumber,
      roomPrice,
      isLux,
      roomComments,
      rating
    } = options

  -
    const images = 4
    let imageIndex = 1

  .card-preview
    .card-preview__slider.js-card-preview__slider
      - for (imageIndex; imageIndex <= images; imageIndex++) {
          a(href="./room-info.html")
            img(src=require(`../../components/card-preview/img/room-${roomNumber}/room-${roomNumber}-1.png`) alt=`room-${roomNumber}`)
      - }
    .card-preview__content
      .card-preview__header-container
        .card-preview__header-number <span>№ </span> #{roomNumber}
        .card-preview__header-wrapper
          if (isLux)
            .card-preview__header-status люкс
          .card-preview__header-price #{roomPrice}₽ <span>в сутки</span>
      .card-preview__feedback-container
        +button-rating({rating, roomNumber})
        .card-preview__feedback <span>#{roomComments}</span> Отзывов
      a.card-preview__link(href="./room-info.html")