include ../input/input
include ../dropdown/dropdown
include ../buttons/buttons

mixin card(options)
    if !options
        -  var options = {}
        

    if (options.type === 'book' || options.type === 'search' || options.type === 'login' || options.type === 'registration')
        .card
            if (options.type === 'book')
                .card-book__header_container 
                    .card-book__header_number <span>№ </span> #{options.roomNumber}
                    .card-book__header_price_container
                        h3.card-book__header_status=options.roomStatus
                        .card-book__header_price #{options.roomPrice} <span>в сутки</span> 
            else 
                div(class = `card-${options.type}__header`)=options.header 
            form.card__content(action = (options.type === 'search') ? './room-search.html' : '')
                if (options.type === 'book' || options.type === 'search')
                    .card__input_wrapper 
                        +input({additClass: 'input_size_s', type: 'date',label: 'прибытие',placeholder: 'ДД.ММ.ГГГГ', id: 'input__date_arrival', arrowId: 'input__arrow_arrival'})
                        +input({additClass: 'input_size_s', type: 'date',label: 'выезд',placeholder: 'ДД.ММ.ГГГГ', id: 'input__date_departure', arrowId: 'input__arrow_departure'})
                    +dropdown({type: 'guests', id: 'guests', label: 'гости', placeholder: 'Сколько гостей'})
                    if (options.type === 'book')
                        .card-book__calc_container
                            .card-book__calc_wrapper
                                .card-book__calc_price_name 9 990₽ х 4 суток
                                .card-book__calc_price 39 960₽
                            .card-book__calc_wrapper
                                .card-book__calc_price_name.card-book__calc_price_info Сбор за услуги: скидка 2 179₽
                                .card-book__calc_price 0₽
                            .card-book__calc_wrapper
                                .card-book__calc_price_name.card-book__calc_price_info.card-book__calc_price_line-height Сбор за дополнительные услуги
                                .book__calc_price 300₽
                            .card-book__calc_wrapper.card-book__calc_wrapper_result
                                h2.card-book__calc_result_name Итого
                                .card-book__calc_dots
                                h2.card-book__calc_result_price 38 081₽
                if (options.type === 'login' || options.type === 'registration')
                    if (options.type === 'registration')
                        +input({type: 'text', placeholder: 'Имя', additClass: 'card-card-registration__input_name'})
                        +input({type: 'text', placeholder: 'Фамилия', additClass: 'card-registration__input_surname'})
                        .card-registration__gender_container.radio__container
                            +button({type: 'radio',id: 'man', name: 'gender', value: 'man', label: 'Мужчина'})
                            +button({type: 'radio',id: 'woman', name: 'gender', value: 'woman', label: 'Женщина'})
                        +input({type: 'text', placeholder: 'ДД.ММ.ГГГГ', label: 'дата рождения', additClass: 'input__date card-registration__input_date'}) 
                        h3.card-registration__user-info_header данные для входа в сервис
                    +input({type: 'email', placeholder: 'Email', additClass: 'card-registration__input_email'})
                    +input({type: 'text', placeholder: 'Пароль', additClass: 'card-registration__input_password'})
                    if (options.type === 'registration')
                        +button({type: 'toggle', label: 'Получать спецпредложения'})

                +button({type: 'default', buttonType: 'submit', id: 'click7', additClass: `button_color_primary button_size_l button_arrow card-${options.type}__button`, text: options.buttonText})
                if (options.type === 'registration' || options.type === 'login')
                    .card__footer_container 
                        div(class = `${options.type}__footer_text`)=options.footerText 
                        +button({type: 'default', text: options.footerButtonText, additClass: 'button_border'})


    if (options.type === 'preview')
        a.card-preview__link(href="./room-info.html")
            .card.card_size_s
                .card-preview__slider
                        img(src="../assets/img/card-preview-luxe.png", alt="")
                        img(src="../assets/img/card-preview-standard.png", alt="")
                        img(src="../assets/img/card-preview-luxe.png", alt="")
                        img(src="../assets/img/card-preview-standard.png", alt="")
                .card-preview__content 
                    .card-preview__header_container
                        .card-preview__header_number <span>№ </span> #{options.roomNumber}
                        .card-preview__header_wrapper
                            h3.card-preview__header_status=options.roomStatus
                            .card-preview__header_price #{options.roomPrice}₽ <span>в сутки</span>
                    .card-preview__feedback_container 
                        +button({type: 'rating'})
                        .card-preview__feedback <span>#{options.roomComments}</span> Отзывов

                        

